n8n/workflow.json
{
  "name": "Support Form → DB → Telegram",
  "nodes": [
    {
      "parameters": {
        "path": "support-form",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "support-form"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{$json[\"body\"][\"name\"]}}"
            },
            {
              "name": "email",
              "value": "={{$json[\"body\"][\"email\"]}}"
            },
            {
              "name": "type",
              "value": "={{$json[\"body\"][\"type\"]}}"
            },
            {
              "name": "description",
              "value": "={{$json[\"body\"][\"description\"]}}"
            },
            {
              "name": "priority",
              "value": "={{$json[\"body\"][\"priority\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "ExtractFields",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM requests WHERE email = '{{$json[\"email\"]}}';"
      },
      "id": "CheckDuplicate",
      "name": "Check Duplicate Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [600, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_credentials",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.length}}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "IfNewEmail",
      "name": "Is New Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO requests (name,email,request_type,description,priority,status) VALUES ('{{$json[\"name\"]}}','{{$json[\"email\"]}}','{{$json[\"type\"]}}','{{$json[\"description\"]}}','{{$json[\"priority\"]}}','created');"
      },
      "id": "InsertDB",
      "name": "Insert Request",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1000, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_credentials",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "📩 Нова заявка\n\n👤 Name: {{$json[\"name\"]}}\n📧 Email: {{$json[\"email\"]}}\n📂 Type: {{$json[\"type\"]}}\n⚡ Priority: {{$json[\"priority\"]}}\n\n📝 Description:\n{{$json[\"description\"]}}"
      },
      "id": "Telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1200, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE requests SET status='sent' WHERE email='{{$json[\"email\"]}}';"
      },
      "id": "UpdateStatus",
      "name": "Update Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1400, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_credentials",
          "name": "Postgres"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Check Duplicate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate Email": {
      "main": [
        [
          {
            "node": "Is New Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Email?": {
      "main": [
        [
          {
            "node": "Insert Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Request": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}